import streamlit as st
import tensorflow as tf
import cv2
from PIL import Image, ImageOps
import numpy as np
pip==22.2.2
keras==2.9.0
Keras-Preprocessing==1.1.2
numpy==1.23.2
pandas==1.4.3
streamlit==1.12.2
tensorflow==2.9.1
cv2==4.6.0
